<table class="table table-sm">
   <tbody>
        <tr class="showpage-container-row">
            <td scope="row" colspan="2">
                <strong>Reimbursements</strong>
                <table class="table table-sm table-bordered showpage-table-embedded">
                    <thead class="thead-dark">
                        <th>Employee</th>
                        <th>Type</th>
                        <th>Value</th>
                        <th>Number / Date</th>
                    </thead>
                    <tbody>
                    {% for reimbursement in reimbursements %}
                        <tr>
                            <td>{{ reimbursement.employee.fullName }}</td>
                            <td>{{ reimbursement.type.name }}</td>
                            <td>{{ reimbursement.value|number_format(2, ',', '.') }}</td>
                            <td>{{ reimbursement.number }} / {{ reimbursement.date|dateFormat }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
   </tbody>
</table>