{% extends 'base.html.twig' %}

{% block title %}Reimbursements | List documents{% endblock %}

{% block body %}
<div>
    <a class="btn btn-secondary" href="{{ path('document_create', { id: constant('App\\Entity\\DocumentType::TYPE_TRAVEL') }) }}" title="Add new travel">
        <span data-feather="plus"></span><span data-feather="truck"></span>
    </a>
    <a class="btn btn-secondary" href="{{ path('document_create', { id: constant('App\\Entity\\DocumentType::TYPE_REIMBURSEMENT') }) }}" title="Add new reimbursement">
        <span data-feather="plus"></span><span data-feather="dollar-sign"></span>
    </a>
</div>
<hr />
<table class="table table-sm table-striped table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Employee</th>
        <th scope="col">Status</th>
        <th scope="col">Type</th>
        <th scope="col">Total</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for document in documents %}
        <tr>
            <th scope="row">
                <a href="/documents/show/{{ document.id }}">{{ document.id }}</a>
            </th>
            <td>{{ document.employee.fullName }}</td>
            <td>{{ include('document/_document_status_icon.html.twig', { status_id: document.status.id, value: document.status.name }) }}</td>
            <td>{{ include('document/_document_type_icon.html.twig', { type_id: document.type.id }) }}</td>
            <td>{{ document.totalAmount }}</td>
            <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                    <a class="btn btn-secondary" href="{{ path('document_print', { id: document.id }) }}">
                        <span data-feather="printer"></span>
                    </a>
                    <a class="btn btn-secondary" href="{{ path('document_show', { id: document.id }) }}">
                        <span data-feather="eye"></span>
                    </a>
                    <a class="btn btn-secondary" href="{{ path('document_edit', { id: document.id }) }}">
                        <span data-feather="edit"></span>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
